aside{
    // padding: 3rem 0;
    ul{
        // min-width: 24rem;
        text-align: center;
        li h2{
            font-size: 2rem;
            font-weight: bold;
        }
        li{
            font-size: 1.6rem;
            font-weight: 500;
           
        }
    }
    
}