// 
#cart__site{
    padding: 6rem 0;
    background-color: #f8f9fa!important;
    
    .cart__product{
        border-top: 1px solid $color-gray;
        display: flex !important;
        justify-content: space-between;
        .product__img{
            width: 25%;
        }
        .product__info{
            width: 65%;
            text-align: start;
            .product__rating span:last-child a {
              
                display: inline;
                padding-left: 2rem;
                font-size: 1.2rem;
            }
            
        }
        .product__price{
            font-size:2rem;
            font-weight: 600;
            margin-left: auto;
        }
    }

    .total__info{
        text-align: center;
        padding:2rem 0rem;
        border:1px solid $color-second;
        h6{
            font-size: 1.6rem;
            padding-bottom: 3rem;
            color: $color-second;
            border-bottom: 1px solid $color-black;

        }
        .cart__list{
            margin-top: 1.5rem;
            .cart__list--item{
                font-size: 2rem;
                padding: 2rem 0;
            }
            .btn__payment{
                font-size: 2rem;
                padding: .5rem 1.5rem;
                border-radius: 2.5rem;
            }
        }
    }
}

.product__qty{
    margin-top:2rem;
    display: flex;
    .product__qty--num{
        font-size: 1.6rem;
        .btn__add{
            border: 1px solid $color-gray;
            color: $color-dark;
        font-size: 1.4rem;
        }
        .btn__sub{
            border: 1px solid $color-gray;
            color: $color-dark;
        font-size: 1.4rem;
        }
    }
    .btn__delete{
        
        color: $color-dark;
        font-size: 1.4rem;
        margin-left: 2rem;
        border-right: 1px solid;
    }
    .btn__save{
        color: $color-dark;
        font-size: 1.4rem;
    }
}

@media screen and(max-width:767px) {
    .product__qty{
        display: block;
        .product__qty--num{
            font-size: 1.4rem;
        }
       .btn__delete , .btn__save{
        margin-top: 1.5rem;    
        font-size: 1.4rem;
        }
    }

}